:root {
    --p-07ACB4: #07ACB4;
    --p-27ABB1: #27ABB1;
    --p-E786F0: #E786F0;
    --p-4A4A4A: #4A4A4A;
    --p-666 : #666;
    --p-fff : #fff;
}

/*
    ***
    07ACB4
    ***
*/
.color-07ACB4{
    color: var(--p-07ACB4);
}

.border-07ACB4{
    border-color: var(--p-07ACB4);
}

.bg-07ACB4{
    background-color: var(--p-07ACB4);
}
.hover-bg-07ACB4:hover{
    background-color: var(--p-07ACB4);
}

.btn-outline-07ACB4{
    color: var(--p-07ACB4);
    border-color: var(--p-07ACB4);
}
.btn-outline-07ACB4:hover{
    color: var(--p-fff);
    background-color: var(--p-07ACB4);
}

.btn-primary{
    color: var(--p-fff);
    background-color: var(--p-07ACB4);
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.15);
    transition: color 0.3s ease, background-color 0.3s ease;
}

.btn-primary:hover{
    color: var(--p-07ACB4);
    background-color: var(--p-fff);
}

.btn-primary-inverse{
    color: var(--p-07ACB4);
    background-color: var(--p-fff);
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.15);
    transition: color 0.3s ease, background-color 0.3s ease;
}

.primary-active,
.btn-primary-inverse:hover{
    color: var(--p-fff);
    background-color: var(--p-07ACB4);
}

.icon-container-hover:hover > .icon-white,
.icon-container > .icon-white,
.primary-active > .primary-icon,
.btn-primary-inverse:hover > .primary-icon{
    filter: brightness(0) invert(1);
}
.btn-primary-inverse:hover > .primary-text{
    color: var(--p-fff);
}


/*
    ***
    27ABB1
    ***
*/
.color-27ABB1{
    color: var(--p-27ABB1);
}

/*
    ***
    E786F0
    ***
*/
.bg-E786F0{
    background-color: var(--p-E786F0);
}

.btn-outline-E786F0{
    color: var(--p-E786F0);
    border-color: var(--p-E786F0);
}
.btn-outline-E786F0:hover{
    color: var(--p-fff);
    background-color: var(--p-E786F0);
}

.hover-E786F0:hover{
    color: var(--p-E786F0);
}

.btn-secondary{
    color: var(--p-fff);
    background-color: var(--p-E786F0);
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.15);
    transition: color 0.3s ease, background-color 0.3s ease;
}
.btn-secondary:hover{
    color: var(--p-E786F0);
    background-color: var(--p-fff);
}
/*
    ***
    4A4A4A
    ***
*/

.color-4A4A4A{
    color: var(--p-4A4A4A);
}
/*
    ***
    666
    ***
*/

.color-666{
    color: var(--p-666);
}
/*
    ***
    sizes
    ***
*/
.btn-border-2{
    border-width: 2px;
    border-style: solid;
}


/*
    ***
    otros
    ***
*/

.hover-chield-icon-white:hover > img{
    filter: brightness(0) invert(1);
}