@import './colors';

*> :not(i){
    font-family: "Roboto", sans-serif;
}
p,a{
    font-family: "Roboto", sans-serif;
}
input, textarea, select, button {
    outline: none; /* Elimina el outline */
    box-shadow: none; /* Elimina cualquier sombra que pueda actuar como outline */
  }

.placeholder-negative::placeholder {
    color: #EC3030;
}

.shadow-par{
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  }
  
a{
    cursor: pointer;
}
  
