@import './colors';

*> :not(i){
    font-family: "Roboto", sans-serif;
}
p,a{
    font-family: "Roboto", sans-serif;
}
input, textarea, select, button {
    outline: none; /* Elimina el outline */
    box-shadow: none; /* Elimina cualquier sombra que pueda actuar como outline */
  }
  

  
