@import './colors';

*> :not(i){
    font-family: "Roboto", sans-serif;
}
p,a{
    font-family: "Roboto", sans-serif;
}
input, textarea, select, button {
    outline: none; /* Elimina el outline */
    box-shadow: none; /* Elimina cualquier sombra que pueda actuar como outline */
  }

.placeholder-negative::placeholder {
    color: #EC3030;
}

.shadow-par{
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
}
  
a{
    cursor: pointer;
}
  

/* Aplica estilos a todas las barras de desplazamiento de la página */
* {
    scrollbar-width: thin;
    scrollbar-color: rgba(136, 136, 136, 0.5) transparent; /* Cambia el color y la transparencia del thumb y el track */
  }
  
  /* Estilo para Chrome, Edge, y Safari */
  *::-webkit-scrollbar {
    width: 5px; /* Ancho de la scrollbar */
  }
  
  *::-webkit-scrollbar-track {
    background: transparent; /* Color de fondo del track */
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: rgba(136, 136, 136, 0.5); /* Color de fondo del thumb */
    border-radius: 10px; /* Bordes redondeados para el thumb */
    border: 2px solid transparent; /* Borde transparente alrededor del thumb */
  }
  
  *::-webkit-scrollbar-thumb:hover {
    background-color: rgba(136, 136, 136, 0.7); /* Color del thumb al pasar el mouse */
  }
  
  /* Para ocultar las flechas en Chrome, Safari, Edge */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Para Firefox */
  input[type=number] {
    -moz-appearance: textfield;
  }
